*{
    margin: 0;
    padding: 0;
    font-size: 20mm;
}

body{
    box-sizing: border-box;
    background-image: url('https://media.giphy.com/media/blqEBWV6iFjGM/giphy.gif');
    background-size:250px;
    background-repeat: repeat;
}

/*#carousel  {*/
/*    display: block;*/
/*    position: absolute;*/
/*    !*width: 1500px;*!*/
/*    height: 100vh;*/
/*    left: 10px;*/
/*    top: 10px;*/
/*    background: url('https://media.giphy.com/media/blqEBWV6iFjGM/giphy.gif') repeat center center fixed;*/
/*    overflow: hidden;*/
/*    border: solid 1px black;*/
/*}*/

.context-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

form {
    float: left; /*to clear the floats of inner elements,usefull if you wanna add a border or background image*/
    width: 300px;
}

label {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px; /*or whatever you want the spacing to be*/
}
.label-wide {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px; /*or whatever you want the spacing to be*/
}

input {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px; /*or whatever you want the spacing to be*/
}