<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Bootstrap</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery.datetimepicker.min.css" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body>
<form th:action="@{/historicalTime}" method="post">
    <div class="context-text">
        <h1><label>Nie pierdol głupot E.</label></h1>
    </div>
</form>
</body>
</html>