<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Bootstrap</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="jquery.datetimepicker.min.css" rel="stylesheet">

</head>
<body>
<form th:action="@{/historicalTime}" method="post">
    <div class="" style="width:400px">
    <h3>Date Picker</h3>
    <input type="text" id="picker" class="form-control" th:name="date" th:value="*{date}">
</div>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="jquery.datetimepicker.full.min.js"></script>
<script>
    $('#picker').datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'Y-m-d',
        value: '2016-09-29',
        weeks: true
    })
</script>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</body>
</html>