<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>

<div class="main">
    <div class="container-fluid">
        <p>Po tyle chodzi BitCoin:</p>
        <p th:text="${prize}">...</p>
        <div class="wall">
            <div class="window">
                <div class="content">
<!--                    <form th:action="@{/historicalTime}" method="post">-->
<!--                        <div class="form-group">-->
<!--                            <label for="exampleFormControlTextarea1">Example textarea</label>-->
<!--                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
<!--                        </div>-->
<!--                        <input type="submit" class="btn btn-primary mt-2 mb-4" th:value="Submit">-->
<!--                    </form>-->
<!--                    <br/>-->

                    <form th:action="@{/historicalTime}" method="post">
                    <input type="text" th:name="date" th:value="*{date}" />
                        <input type="submit" value="Submit" >
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</div>
</body>
</html>